body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(62, 62, 214);
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  /* background-color:; */
  box-shadow:whitesmoke;
  margin-top: 50px;
}

form {
  display: grid;
  grid-gap: 15px;
}

h2 {
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color:rgb(232, 232, 15);
  color: rgb(62, 62, 214);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color:yellowF0F41D;
}
h6 {
  color: white; /* White color for the h6 text */
}

a {
  color: yellow; /* Yellow color for the anchor tag */
  text-decoration: none;
}
h1, form {
color: white; /* White color for h1 and form */
}